@import url(css/reset.css);

@font-face {
    font-family: 'AkbarPlain';
    src: url('../assets/akbar-webfont.eot');
    src: url('../assets/akbar-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/akbar-webfont.woff') format('woff'),
         url('../assets/akbar-webfont.ttf') format('truetype'),
         url('../assets/akbar-webfont.svg#AkbarPlain') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { 
    font-size: 62.5%;
    background: rgb(197,222,234) no-repeat center center fixed;
    background: -moz-linear-gradient(-45deg,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%) no-repeat center center fixed;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))) no-repeat center center fixed;
    background: -webkit-linear-gradient(-45deg,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%) no-repeat center center fixed;
    background: -o-linear-gradient(-45deg,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%) no-repeat center center fixed;
    background: -ms-linear-gradient(-45deg,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%) no-repeat center center fixed;
    background: linear-gradient(-45deg,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%) no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

body { 
    color: #FFFFFF;
    text-align: center;
    font: 1.6rem/1.9rem 'AkbarPlain', Helvetica, Arial, sans-serif;
}

h1 { font-size: 4rem }
h2 { font-size: 3rem }

a:link, a:visited {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
}

.container {
    max-width: 96rem;
    margin: auto;
}

    .homer {
        margin: auto;
        height: 32.6rem;
        width: 26rem;
        position: relative;
    }

        .homer div {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            position: absolute;
        }

        .skull, .brow, .nose, .ear, .neck, .hair, .eye, .mouth, .mouth:after, .smile { 
            border: 0.3rem solid #000000;
        }

        .top-hair {
            -webkit-transform: rotate(-28deg);
            -moz-transform: rotate(-28deg);
            -o-transform: rotate(-28deg);
            -ms-transform: rotate(-28deg);
            transform: rotate(-28deg);
            height: 3.7rem;
            left: 5.4rem;
            top: 0.4rem;
            width: 7.7rem;
            z-index: 50;
        }

        .hair {
            background-color: transparent;
            border-bottom: none;
            border-left: 0.3rem solid #000000;
            border-right: 0.3rem solid #000000;
            border-top-left-radius: 50% 100%;
            border-top-right-radius: 50% 100%;
            border-top: 0.3rem solid #000000;
            height: 2.7rem;
            width: 5.3rem;
        }

            .hair:nth-child(2) {
                left: 1.9rem;
                top: 0.7rem;
                width: 5.1rem
            }

            .hair:first-child:before {
                -webkit-transform: rotate(22deg);
                -moz-transform: rotate(22deg);
                -o-transform: rotate(22deg);
                -ms-transform: rotate(22deg);
                transform: rotate(22deg);
                background-color: #FCDB00;
                bottom: -0.1rem;
                content: '';
                display: block;
                height: 0.4rem;
                position: absolute;
                right: -0.3rem;
                width: 0.5rem;
            }

            .hair:after {
                background-color: #FCDB00;
                bottom: -0.1rem;
                content: '';
                display: block;
                height: 0.2rem;
                left: 0;
                position: absolute;
                width: 100%;
            }

        .skull {
            -webkit-transform: rotate(-20deg);
            -moz-transform: rotate(-20deg);
            -o-transform: rotate(-20deg);
            -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
            background-color: #FCDB00;
            border-bottom: none;
            border-top-left-radius: 6.8rem 6.8rem;
            border-top-right-radius: 6.8rem 6.6rem;
            height: 14.2rem;
            left: 4rem;
            top: 1.9rem;
            width: 14rem;
            z-index: 5;
        }

        .face {
            top: 9rem;
            left: 8.6rem;
            z-index: 100;
        }

            .brow {
                background-color: #FCDB00;
                border-bottom-right-radius: 100%;
                border-bottom: none;
                border-left: none;
                border-left: none;
                border-top-left-radius: 100%;
                border-top-right-radius: 100%;
                height: 2.6rem;
                left: 8.4rem;
                width: 2.4rem;
            }

                .brow:after {
                    background-color: #FCDB00;
                    content: '';
                    display: block;
                    height: 1.5rem;
                    left: -0.3rem;
                    position: absolute;
                    top: -0.3rem;
                    width: 1.3rem;
                }

        .eye {
            top: 1.1rem;
        }

            .eye:after {
                background-color: #000000;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                content: '';
                display: block;
                position: absolute;
                z-index: 60;
            }

            .eye.left {
                background-color: #FFFFFF;
                border-bottom-left-radius: 3.7rem 3.5rem;
                border-bottom-right-radius: 3.6rem 3.5rem;
                border-top-left-radius: 3.7rem 3.5rem;
                border-top-right-radius: 3.5rem 3.3rem;
                height: 6.7rem;
                width: 7.1rem;
                z-index: 50;
            }

                .eye.left:after {
                    height: 0.8rem;
                    left: 1.7rem;
                    top: 2.9rem;
                    width: 0.8rem;
                }

            .eye.right {
                background-color: #FFFFFF;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                height: 6.3rem;
                left: 5.4rem;
                width: 6.3rem;
                z-index: 45;
            }


                .eye.right:after {
                    height: 0.8rem;
                    left: 3rem;
                    top: 2.7rem;
                    width: 0.8rem;
                }

        .nose {
            background-color: #FCDB00;
            border-left: none;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            border-radius: 3rem;
            height: 3.1rem;
            left: 4.1rem;
            top: 5.5rem;
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
            width: 6.5rem;
            z-index: 48;
        }

            .nose:after {
                background: #FCDB00;
                bottom: 0;
                content: '';
                display: block;
                height: 1rem;
                left: 0;
                position: absolute;
                width: 2rem;
            }

        .mouth {
            background-color: #BEAE7D;
            border-bottom-left-radius: 4.8rem 4.2rem;
            border-bottom-right-radius: 3.6rem 2.8rem;
            border-top-left-radius: 5.8rem 4.9rem;
            height: 9.2rem;
            left: 0.2rem;
            top: 8.3rem;
            width: 7.9rem;
        }

            .mouth:before {
                background-color: #BEAE7D;
                border-bottom-right-radius: 1.6rem 1.5rem;
                border-bottom: 0.3rem solid #000000;
                border-right: 0.3rem solid #000000;
                bottom: 1.7rem;
                content: '';
                display: block;
                height: 1.4rem;
                left: 7.3rem;
                position: absolute;
                width: 1.6rem;
                z-index: 5000;
            }

            .mouth:after {
                background-color: #BEAE7D;
                border-bottom-right-radius: 4rem 1.5rem;
                border-left: none;
                border-top-right-radius: 4rem 4.5rem;
                content: '';
                display: block;
                height: 6.4rem;
                left: 7.3rem;
                position: absolute;
                top: -1.7rem;
                width: 4.2rem;
            }

        .smile {
            background-color: #BEAE7D;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            height: 3.3rem;
            left: 1.3rem;
            top: 2.2rem;
            width: 11rem;
            z-index: 5000;
        }


            .smile:before {
                background-color: #BEAE7D;
                content: '';
                display: block;
                height: 2rem;
                left: -0.4rem;
                position: absolute;
                top: -0.3rem;
                width: 10.2rem;
            }

            .smile:after {
            -moz-transform: rotate(37deg);
            -ms-transform: rotate(37deg);
            -o-transform: rotate(37deg);
            -webkit-transform: rotate(37deg);
            border-bottom-left-radius: 0.4rem;
            border-left: 0.3rem solid #000000;
            border-top-left-radius: 0.4rem;
            content: '';
            display: block;
            height: 1.3rem;
            left: -0.4rem;
            position: absolute;
            top: 1.7rem;
            transform: rotate(37deg);
            width: 2rem;
            }

        .ear {
            background-color: #FCDB00;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            height: 3.2rem;
            left: 5.3rem;
            top: 16.6rem;
            width: 3.2rem;
            z-index: 160;
        }

            .ear:after {
                -moz-transform: rotate(-4deg);
                -ms-transform: rotate(-4deg);
                -o-transform: rotate(-4deg);
                -webkit-transform: rotate(-4deg);
                background-color: #FCDB00;
                content: '';
                display: block;
                height: 3.5rem;
                position: absolute;
                right: -0.6rem;
                top: -0.2rem;
                transform: rotate(-4deg);
                width: 1rem;
            }

            .ear-inner {
                -moz-border-radius: 100%;
                -moz-transform: rotate(10deg);
                -ms-transform: rotate(10deg);
                -o-transform: rotate(10deg);
                -webkit-border-radius: 100%;
                -webkit-transform: rotate(10deg);
                border-radius: 100%;
                border-top: 0.3rem solid #000000;
                display: block;
                height: 1.8rem;
                left: 0.4rem;
                position: absolute;
                top: 0.4rem;
                transform: rotate(10deg);
                width: 1.8rem;
            }

            .ear-inner:after {
                -moz-border-radius: 100%;
                -moz-transform: rotate(25deg);
                -ms-transform: rotate(25deg);
                -o-transform: rotate(25deg);
                -webkit-border-radius: 100%;
                -webkit-transform: rotate(25deg);
                border-left: 0.3rem solid #000000;
                border-radius: 100%;
                content: '';
                display: block;
                height: 1.2rem;
                left: 0.4rem;
                position: absolute;
                top: 0;
                transform: rotate(25deg);
                width: 1.2rem;
            }


        .neck {
            -moz-transform: rotate(7deg);
            -ms-transform: rotate(7deg);
            -o-transform: rotate(7deg);
            -webkit-transform: rotate(7deg);
            background-color: #FCDB00;
            border-bottom: none;
            border-top: none;
            height: 13rem;
            left: 6.6rem;
            top: 15rem;
            transform: rotate(7deg);
            width: 8.2rem;
        }

            .neck:before {
                -moz-transform: rotate(7deg) skewX(20deg);
                -ms-transform: rotate(7deg) skewX(20deg);
                -o-transform: rotate(7deg) skewX(20deg);
                -webkit-transform: rotate(7deg) skewX(20deg);
                background-color: #FCDB00;
                border-right: 0.3rem solid #000000;
                bottom: 0;
                content: '';
                height: 3rem;
                position: absolute;
                right: -1.4rem;
                transform: rotate(7deg) skewX(20deg);
                width: 7rem;
            }

        .m-hair {
            -moz-transform: skewY(47deg);
            -ms-transform: skewY(47deg);
            -o-transform: skewY(47deg);
            -webkit-transform: skewY(47deg);
            border-left: 0.3rem solid #000000;
            border-top-left-radius: 0.8rem;
            border-top: 0.4rem solid #000000;
            height: 2.4rem;
            left: 4.4rem;
            top: 14.7rem;
            transform: skewY(47deg);
            width: 2rem;
            z-index: 100;
        }

        .m-hair:before {
            -moz-transform: translate(-0.2rem, -0.4rem);
            -ms-transform: translate(-0.2rem, -0.4rem);
            -o-transform: translate(-0.2rem, -0.4rem);
            -webkit-transform: translate(-0.2rem, -0.4rem);
            border-left: 0.3rem solid #000000;
            border-top-left-radius: 0.8rem;
            border-top: 0.4rem solid #000000;
            content: '';
            height: 2.4rem;
            left: 100%;
            position: absolute;
            top: -2rem;
            transform: translate(-0.2rem, -0.4rem);
            width: 2rem;
        }

        .author {
            margin-top: 2rem;
        }